<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper  namespace="com.sist.dao.pass-mapper">
<!-- 합격자소서 리스트 출력  (페이징) -->
 <select id="passListData" resultType="PassVO" parameterType="java.util.Map">
   
	<!--  SELECT p.no, c.companyname, p.position, p.recruitmentTitle
     FROM company c
     RIGHT JOIN Pass_Introduction p 
     ON c.companyCode = p.companyCode   -->
    
     SELECT no,companyname,position,recruitmentTitle,num
     FROM (SELECT no,companyname,position,recruitmentTitle,rownum as num
     FROM (SELECT p.no,c.companyname, p.position, p.recruitmentTitle
     FROM company c RIGHT JOIN Pass_Introduction p on c.companyCode = p.companyCode))
     WHERE num BETWEEN #{start} AND #{end} 

  
<!-- 
     SELECT companyname,position,recruitmentTitle,num
     FROM (SELECT companyname,position,recruitmentTitle,rownum as num
     FROM (SELECT c.companyname, p.position, p.recruitmentTitle
     FROM company c RIGHT JOIN Pass_Introduction p where c.companyCode = p.companyCode))
     WHERE num BETWEEN #{start} AND #{end}  -->
     

  

        <!--  WHERE num BETWEEN ? AND ?
         ps.setInt(1,map.get("start"))
         ps.setInt(2,map.get("end")) 
         
         -->
     
   </select>
 
     <!-- 총페이지 읽기 -->
    
   <select id="passTotalPage" resultType="int">
     SELECT CEIL(COUNT(*)/10) FROM Pass_Introduction
   </select> 
   
   
   <!-- content(내용보기) -->
   <sql id="where-no">
     WHERE no=#{no}
   </sql>
 
   <select id="passContentData" resultType="PassVO" parameterType="int">
     SELECT no,content
     FROM Pass_Introduction
     WHERE no=#{no}
   </select>   
   
   <!-- 검색 -->
    <select id="passAllData" resultType="PassVO" parameterType="String">
  		SELECT c.companyname, p.position, p.recruitmentTitle
     	FROM company c
     	RIGHT JOIN Pass_Introduction p 
     	ON c.companyCode = p.companyCode
 	    WHERE companyname=#{companyname} <!-- list=session.selectOne("genreAlldata", genre);==> #{genre} -->
  </select>
</mapper>