<?xml version="1.0" encoding="UTF-8"?>
<!-- 스프링 패키지 등록  -->
<beans>
	<context:component-scan base-package="com.sist.model"/>
    <context:component-scan base-package="com.sist.self_introduction"/> 
	<context:component-scan base-package="com.sist.pass_info"/>
	<context:component-scan base-package="com.sist.member"/>
</beans>