<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.compare.compare-mapper">

<select id="compareData" resultType="CompareVO"
	parameterType="String">
	 SELECT imageURL,companyName,formOfCompany,companyCode
	FROM company
	WHERE companyName LIKE '%'||#{searchValue}||'%'
	</select>

<select id="resultData" resultType="Compare_ResultVO" parameterType="String">
	SELECT companyCode,promotion_possibility,welfare_pay,work_life_balance,corporate_culture,management
	FROM company_Score;
</select>
</mapper>